@font-face {
	font-family: "Consolas";
	src: url("../fonts/Consolas.ttf");
}

body {font-family: "Consolas" !important;
margin:0;
font-size: 14px;
line-height: 1.0 !important;}


.navbart {
	overflow: hidden;
	background-color: #0452a2;
	position: fixed;
	top: 0;
	width: 100%;
	color: white;
	z-index: 1000;
	user-select: none;
}


.navtit{
	padding-left: 15px;
	margin-top: 10px;
}

.text-part{
	margin-top: 60px;
  overflow-y: scroll;
}

