@font-face {
	font-family: "Roboto-reg";
	font-style: normal;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-med";
	src: url("../fonts/Roboto-Medium.ttf");
}

html {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    overflow: auto;
}

.navbart {
	overflow: hidden;
	background-color: #0452a2;
	position: fixed;
	top: 0;
	width: 100%;
	color: white;
	z-index: 1000;
	user-select: none;
}


.navtit{
	padding-left: 15px;
	margin-top: 10px;
}

.text-part{
	margin-top: 60px;
}

.hm-question{
	margin-bottom: 4px;
	padding: 10px 0;
}

/*.m-b-10 {
	margin-bottom: 10px;
}*/
.md-title {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .005em;
}

.topclickbtn{
	background-color:#0452a2!important;
	color:white;
	font-size: 16px;
	width:120px; 
	height: 40px;
	float:right;
	margin-right: 10px;
	border-radius: 5px;
	border:1px solid #0452a2;
	margin-bottom: 10px;
}
/*.divCont
{
	display:block;
	opacity: .1;
}
.showDiv
{
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}​*/
}